* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ComicSans';
  src: url('fonts/Commic\ Sans.ttf');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 50rem;
  font-family: ComicSans, sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 100%;
}

.page {
  display: none;
}

.page.current {
  display: block;
}

.page-title {
  font-size: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: 4px solid #000;
  margin: 0;
  padding: 0.5rem 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.nav-link.current {
  color: #ff1818;
}

.nav-link.current:hover {
  text-decoration: none;
}

.date {
  text-align: right;
}

.section-title {
  text-align: center;
  padding: 1.5rem;
  font-size: 2rem;
}

.no-books-msg {
  padding: 1.5rem;
}

.books-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 4px solid black;
  margin-bottom: 2rem;
  width: 100%;
}

.book {
  min-width: 24rem;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem;
  text-align: left;
}

.book:nth-child(odd) {
  background-color: #ddd;
}

.btn {
  padding: 0.25rem 1rem;
  border: 4px solid #000;
  font-weight: 900;
  font-size: 18px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: rgb(253, 149, 149);
}

.btn:active {
  transform: translateY(3px);
}

.book-details {
  font-size: 18px;
  font-weight: 700;
}

.form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-input {
  width: 100%;
  border: 4px solid #000;
  padding: 0.25rem 1rem;
  border-radius: 2px;
}

.form-btn {
  align-self: flex-end;
}

.form-btn:hover {
  background-color: rgb(154, 253, 149);
}

.contact-details {
  padding: 1rem 2rem;
}

.footer {
  border: 4px solid #000;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
